.login {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image: url(../images/img2.jpg);
  width: 100%;
}

.login {
  margin-top: 0%;
  height: 100vh;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.blurred-box {
  position: relative;
  width: 550px;
  height: 350px;
  top: calc(50% - 175px);
  left: calc(50% - 290px);
  background: inherit;
  border-radius: 10%;
  overflow: hidden;
}

.blurred-box:after {
  content: "";
  width: 500px;
  height: 400px;
  background: inherit;
  position: absolute;
  left: -25px;
  right: 0;
  top: -25px;
  bottom: 0;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.05);
  filter: blur(5px);
}

.user-login-box {
  position: relative;
  margin-top: 50px;
  text-align: center;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.user-login-box > * {
  display: inline-block;
  width: 200px;
}

.user-name {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: black;
}

.glass {
  display: inline-block;
  margin: 10px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: 9px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 4px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.glass:hover{
  color: white;
  background: black; 
  background: -moz-linear-gradient(top, black 0%, grey 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, black),
    color-stop(100%, grey)
  ); 
  background: -webkit-linear-gradient(
    top,
    black 0%,
    grey 100%
  ); 
  background: -o-linear-gradient(
    top,
    black 0%,
    grey 100%
  ); 
  background: -ms-linear-gradient(top, black 0%, grey 100%); /* IE10+ */
  background: linear-gradient(to bottom, black 0%, grey 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='black', endColorstr='grey', GradientType=0 ); /* IE6-9 */
}
